@import url(normalize.css);

/* Base */
    * {
    font-family: "Courier New", Courier, monospace;
    box-sizing: border-box;
    }

    /*Variables*/
    :root {
    --color-texto: white;
    }

    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: 'Courier New', Courier, monospace;
    }

    header, footer {
        background-color: rgba(155, 155, 155, 0.733);
        padding-left: 1rem;
    }

    nav, #content, aside {
        margin: 1.5rem 0;
    }


    /* Propiedades de fuente generales */
        h1, h2, h3, h4, h5, h6 {
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }

        h2 {
        font-size: 1.3rem;
        }

        p, ul {
        font-size: 0.8rem;
        }


    /* Propiedades de los enlaces generales */
        a {
            color: #000000;
        }

        a:hover {
            text-decoration: none;
            background-color: #000000;
            color: #ffffff;
        }

    




/* Cabecera */
    header {
        width: 100%;
    }

    header h1, header h2 {
        color: var(--color-texto);
    }



/* Menú*/
    nav {
        width: 14%;
    }

    nav ul {
        font-size: 1.5rem;
        list-style: none;
        text-align: center;

        border: solid 1px rgb(105, 105, 105);
        border-radius: 10px;
        box-shadow: 10px 10px 5px #888;

        margin: 0.5em;
        padding-left: 0;
    }

    nav li {
        border: solid 1px #ddd;
        border-radius: 4px;
        padding: 8px 16px;
    }

    nav li:hover {
        background-color: #a9a9a9;
    }

    nav li:hover a {
        background-color: #a9a9a9;
        color: #ffffff;
    }

    nav a {
        text-decoration: none;
    }



/* Contenido */
    #content {
        width: 70%;
        padding: 0 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #left {
        width: 49%;
    }

    #right {
        width: 49%;
    }

    #left > p:first-of-type, #right > p:first-of-type {
        font-weight: bold;
    }

    #left ul, #right ul {
        list-style: circle;
    }

    #content ul li::marker{
        margin-right: calc(1.5rem * 2);
    }



/*Aside*/
    aside {
        width: 14%;
        height: 35vh;
        background-color: rgba(220, 220, 220, 0.425);
        line-height: 1.5em;

        border: solid 4px #a9a9a9;
        border-radius: 10px;

        padding: 0 0.5rem;
    }



/* Pié de página */
    footer {
        width: 100%;
        color: #fff;
        display: flex;
        justify-content: space-between;
    }

    footer p {
        font-weight: bold;
        text-align: left;
    }

